/* import colors.css */
@import url('./colors.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap');

:root {
  --background--color: var(--dark4);
  --text-color: var(--light2);
  --primary-color: var(--blue3);
  --button-color: var(--dark3);
  --button-hover-color: var(--dark2);
  --button-icon-color: var(--light2);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

html,
body,
#root {
  background-color: var(--background--color);
  height: 100%;
}

*::-webkit-scrollbar {
  width: 14px;
}
 
*::-webkit-scrollbar-track {
  background-color: var(--dark5);
}
 
*::-webkit-scrollbar-thumb {
  background-color: var(--light1);
  background-clip: padding-box;
  border-radius: 14px;

  border: 4px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
}
